repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        args:
          - --cache
          - --cache-location=.prettier-cache
          - --ignore-path=.gitignore
  - repo: meta
    hooks:
      - id: check-hooks-apply
        name: check-hooks-apply
      - id: check-useless-excludes
        name: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
      - id: end-of-file-fixer
        name: end-of-file-fixer
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.13.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^LICENSE\.md$
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
        alias: clippy-no-features
        name: clippy-no-features
        args: [--, -D, clippy::print_stdout]
      - id: clippy
        alias: clippy-csr
        name: clippy-csr
        args: [--features=csr, --, -D, clippy::print_stdout]
      - id: clippy
        alias: clippy-hydrate
        name: clippy-hydrate
        args: [--features=hydrate, --, -D, clippy::print_stdout]
      - id: clippy
        alias: clippy-ssr-actix
        name: clippy-ssr-actix
        args:
          [
            "--features=ssr,actix",
            --exclude=leptos-fluent-ssr-hydrate-axum-example,
            --exclude=leptos-fluent-ssr-hydrate-actix-example,
            "--workspace",
            --,
            -D,
            clippy::print_stdout,
          ]
      - id: clippy
        alias: clippy-ssr-axum
        name: clippy-ssr-axum
        args:
          [
            "--features=ssr,axum",
            --exclude=leptos-fluent-ssr-hydrate-axum-example,
            --exclude=leptos-fluent-ssr-hydrate-actix-example,
            "--workspace",
            --,
            -D,
            clippy::print_stdout,
          ]
  - repo: https://github.com/mondeja/rust-pc-hooks
    rev: v1.0.0
    hooks:
      - id: cargo-check-all-features
      - id: cargo-build-all-features
      - id: cargo-readme
        alias: cargo-readme-workspace
        name: cargo-readme-workspace
        args:
          - --project-root=leptos-fluent
          - --output=../README.md
          - --template=../README.tpl
      - id: cargo-readme
        alias: cargo-readme-leptos-fluent
        name: cargo-readme-leptos-fluent
        args:
          - --project-root=leptos-fluent
          - --output=README.md
          - --template=../README.tpl
      - id: cargo-readme
        alias: cargo-readme-leptos-fluent-macros
        name: cargo-readme-leptos-fluent-macros
        args: [--project-root=leptos-fluent-macros, --output=README.md]
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.1
    hooks:
      - id: markdown-link-check
        name: markdown-link-check
        files: ^README\.md$
        args:
          - --config
          - .markdown-link-check.json
