[package]
name = "leptos-fluent-macros"
description = "Macros for leptos-fluent"
edition = "2021"
version = "0.0.26"
license = "MIT"
documentation = "https://docs.rs/leptos-fluent"
repository = "https://github.com/mondeja/leptos-fluent"
readme = "README.md"

[lib]
proc-macro = true
path = "src/lib.rs"

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = "2"
serde_json = { version = "1", optional = true }
cfg-if = "1"
serde_yaml = { version = ">=0.7", optional = true }

[features]
hydrate = []
ssr = []
actix = []
axum = []
json = ["dep:serde_json"]
yaml = ["dep:serde_yaml"]

[package.metadata.cargo-all-features]
skip_feature_sets = [
  ["csr", "ssr"],
  ["csr", "hydrate"],
  ["ssr", "hydrate"],
  ["actix", "axum"],
  ["actix", "csr"],
  ["actix", "hydrate"],
  ["axum", "csr"],
  ["axum", "hydrate"],
]
