[package]
name = "leptos-fluent-macros"
description = "Macros for leptos-fluent"
edition = "2021"
version = "0.0.22"
license = "MIT"
documentation = "https://docs.rs/leptos-fluent"
repository = "https://github.com/mondeja/leptos-fluent"
readme = "README.md"

[lib]
proc-macro = true
path = "src/lib.rs"

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = "2"
serde_json = "1"
cfg-if = "1"
web-sys = { version = ">=0.1", optional = true }

[features]
csr = ["web-sys/Storage", "web-sys/Navigator"]
hydrate = ["web-sys/Storage", "web-sys/Navigator"]
ssr = []
actix = []
axum = []
