[package]
name = "leptos-fluent-macros"
description = "Macros for leptos-fluent"
edition = "2021"
version = "0.0.28"
license = "MIT"
documentation = "https://docs.rs/leptos-fluent"
repository = "https://github.com/mondeja/leptos-fluent"
readme = "README.md"

[lib]
proc-macro = true
path = "src/lib.rs"

[dependencies]
proc-macro2 = {version = "1", features = ["span-locations"] }
quote = "1"
syn = { version = "2", features = ["visit", "full"] }
glob = "0.3"
serde_json = { version = "1", optional = true }
serde_yaml = { version = ">=0.7", optional = true }

[features]
hydrate = []
ssr = []
actix = []
axum = []
json = ["dep:serde_json"]
yaml = ["dep:serde_yaml"]

[package.metadata.cargo-all-features]
skip_feature_sets = [
  ["csr", "ssr"],
  ["csr", "hydrate"],
  ["ssr", "hydrate"],
  ["actix", "axum"],
  ["actix", "csr"],
  ["actix", "hydrate"],
  ["axum", "csr"],
  ["axum", "hydrate"]
]
always_include_features = ["json"]
denylist = ["yaml"]
