body {
  font-family: sans-serif;
}

header {
  position: relative;
  z-index: 20;
  background-color: bisque;
  padding: 10px;
}

.header {
  position: relative;
  z-index: 20;
  background-color: red;
  padding: 10px;
}

.hidden {
  display: none !important;
}

.header-large-menu {
  display: none;
  justify-content: center;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.header-mobile-menu {
  display: flex;
  justify-content: end;

  @media (min-width: 1024px) {
    display: none;
  }
}

.mobile-button {
  background: none;
  border: none;
}

.mobile-menu-panel {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  position: absolute;
  top: 50px;
  left: 28px;
  right: 28px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding-bottom: 5px;
  z-index: 20;
}

.mobile-menu-panel > * {
  padding-top: 5px;
}

.mobile-menu-panel-hidder {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: black;
  opacity: 50%;
}

.language-selector {
  display: inline-flex;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

a {
  margin-left: 10px;
  margin-right: 10px;
}
