[package]
name = "leptos-fluent"
description = "Fluent framework for internationalization of Leptos applications"
edition = "2021"
version = "0.0.21"
license = "MIT"
documentation = "https://docs.rs/leptos-fluent"
repository = "https://github.com/mondeja/leptos-fluent"
readme = "README.md"

[dependencies]
leptos-fluent-macros = { path = "../leptos-fluent-macros" }
fluent-templates = "0.9"
leptos = ">=0.6"
leptos_router = { version = ">=0.1", optional = true }
once_cell = "1"
cfg-if = "1"
web-sys = { version = ">=0.1", optional = true }
actix-web = { version = ">=3", optional = true }

[features]
csr = [
  "web-sys/Storage",
  "web-sys/Navigator",
  "dep:leptos_router",
  "leptos_router/csr",
  "leptos/csr",
  "leptos-fluent-macros/csr"
]
hydrate = [
  "web-sys/Storage",
  "web-sys/Navigator",
  "leptos/hydrate",
  "leptos-fluent-macros/hydrate",
  "leptos_router/hydrate"
]
ssr = ["leptos_router/ssr", "leptos/ssr", "leptos-fluent-macros/ssr"]
actix = ["dep:actix-web", "leptos-fluent-macros/actix"]
