[package]
name = "leptos-fluent"
description = "Fluent framework for internationalization of Leptos applications"
edition = "2021"
version = "0.0.26"
license = "MIT"
documentation = "https://docs.rs/leptos-fluent"
repository = "https://github.com/mondeja/leptos-fluent"
readme = "README.md"

[dependencies]
leptos-fluent-macros = { path = "../leptos-fluent-macros" }
fluent-templates = "0.9"
leptos = { version = ">=0.6", features = ["csr"] }
once_cell = "1"
web-sys = { version = ">=0.1", features = [
  "Storage",
  "Navigator",
  "Location",
  "UrlSearchParams"
] }

[features]
default = ["json"]
hydrate = ["leptos-fluent-macros/hydrate"]
ssr = ["leptos-fluent-macros/ssr"]
actix = ["leptos-fluent-macros/actix"]
axum = ["leptos-fluent-macros/axum"]
json = ["leptos-fluent-macros/json"]
yaml = ["leptos-fluent-macros/yaml"]

[package.metadata.cargo-all-features]
skip_feature_sets = [
  ["csr", "ssr"],
  ["csr", "hydrate"],
  ["ssr", "hydrate"],
  ["actix", "axum"],
  ["actix", "csr"],
  ["actix", "hydrate"],
  ["axum", "csr"],
  ["axum", "hydrate"],
]
always_include_features = ["json"]
denylist = ["yaml"]
