[package]
name = "leptos-fluent"
description = "Fluent framework for internationalization of Leptos applications"
edition = "2021"
version = "0.0.15"
license = "MIT"
documentation = "https://docs.rs/leptos-fluent"
repository = "https://github.com/mondeja/leptos-fluent"

[dependencies]
leptos-fluent-macros = "0.0.15"
fluent-templates = "0.9"
leptos = ">=0.1"
leptos_router = ">=0.1"
unic-langid-impl = "0.9"
once_cell = "1"
web-sys = { version = ">=0.1", features = ["Storage", "Navigator"] }
