name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.1"
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pre-commit
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Lint
        run: pre-commit run --all-files --show-diff-on-failure

  test:
    name: Test
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: ubuntu-latest
            browser: firefox
          - runs-on: ubuntu-latest
            browser: chrome
          - runs-on: macos-latest
            browser: firefox
          - runs-on: macos-latest
            browser: chrome
          - runs-on: windows-latest
            browser: firefox
          - runs-on: windows-latest
            browser: chrome
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
        with:
          targets: wasm32-unknown-unknown
          profile: minimal
      - name: Install cargo binstall
        uses: cargo-bins/cargo-binstall@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install wasm-pack
        run: cargo binstall -y wasm-pack
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ matrix.browser }}-${{ hashFiles('**/Cargo.toml') }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Run tests
        run: |
          cd tests
          wasm-pack test --headless --${{ matrix.browser }}

  build-example:
    name: Build example
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - example: minimal
            feature: csr
          - example: complete
            feature: csr
          - example: ssr-actix
            feature: ssr
          - example: ssr-actix
            feature: csr-feature
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
        with:
          targets: wasm32-unknown-unknown
          profile: minimal
      - name: Install cargo binstall
        uses: cargo-bins/cargo-binstall@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install trunk
        if: ${{ contains(matrix.feature, 'csr') }}
        run: cargo binstall -y trunk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install cargo-leptos
        if: ${{ matrix.feature == 'ssr' }}
        run: cargo binstall -y cargo-leptos
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ matrix.example }}-${{ matrix.feature }}-${{ hashFiles('**/Cargo.toml') }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Build with trunk
        if: ${{ matrix.feature == 'csr' }}
        run: |
          cd examples/${{ matrix.example }}
          trunk build --release
      - name: Build with trunk
        if: ${{ matrix.feature == 'csr-feature' }}
        run: |
          cd examples/${{ matrix.example }}
          trunk build --release --features csr
      - name: Build with cargo-leptos
        if: ${{ matrix.feature == 'ssr' }}
        run: |
          cd examples/${{ matrix.example }}
          cargo leptos build --release

  test-release-leptos-fluent-macros:
    if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/master'
    needs:
      - lint
      - test
      - build-example
    name: Test leptos-fluent-macros release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
      - name: Publish
        run: |
          cargo login ${{ secrets.CRATES_TOKEN }}
          cargo publish -v --dry-run -p leptos-fluent-macros

  release-leptos-fluent-macros:
    if: startsWith(github.ref, 'refs/tags/')
    name: Release leptos-fluent-macros
    needs:
      - test-release-leptos-fluent-macros
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
      - name: Publish
        run: |
          cargo login ${{ secrets.CRATES_TOKEN }}
          cargo publish -v -p leptos-fluent-macros

  release-leptos-fluent:
    if: startsWith(github.ref, 'refs/tags/')
    name: Release leptos-fluent
    needs:
      - release-leptos-fluent-macros
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
      - name: Update version
        run: |
          version=$(grep -oP --color=never '^version = "\K[^"]+' leptos-fluent/Cargo.toml)
          sed -i "s/^leptos-fluent-macros = .*/leptos-fluent-macros = \"$version\"/" leptos-fluent/Cargo.toml
      - name: Publish
        run: |
          cargo login ${{ secrets.CRATES_TOKEN }}
          cargo publish --allow-dirty -v -p leptos-fluent

  create-release:
    if: startsWith(github.ref, 'refs/tags/')
    name: Create release
    needs:
      - release-leptos-fluent
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get tag metadata
        id: tag
        run: |
          TAG_TITLE=${GITHUB_REF#refs/*/}
          echo "title=$TAG_TITLE" >> $GITHUB_OUTPUT
      - name: Create Release
        uses: softprops/action-gh-release@v2
        id: create-release
        with:
          name: ${{ steps.tag.outputs.title }}
          tag_name: ${{ steps.tag.outputs.title }}
          body: |
            See [CHANGELOG](https://github.com/mondeja/leptos-fluent/blob/master/CHANGELOG.md).
          draft: false
          prerelease: false
